<h2>All Fixes</h2>

<!-- SEARCH -->
<%= render partial: "shared/single_search" %>
<!------>

<ul>
  <% @fixes.each do |f| %>
    <li>
      <%= link_to f.title, fix_path(f.id) %>
    </li>
  <% end %>
</ul>
