
<div class="show-container">
  <h2 class="fix-shade new-heading">New Fix</h2>
</div>

<div class="lower-container">
  <div class="inner-bound admin-new admin-new-fix">
    <%= render :partial => 'form' %>
  </div>
</div>
