

<% if @current_user.present? %>
  <div class="pins-flex">
      <% unless @current_user.favorite_issues.exists?(id: @issue.id) %>
        <div class="pins-flex-l">
          <p class="pin-status"><%= flash.alert if flash.alert.present? %>&nbsp;</p>
        </div>
        <div class="pins-flex-r">
          <p class="pin-status pin-status-btn"><%= link_to 'Add to pins', favorite_issues_path(issue_id: @issue), method: :post, :class => "pin pin-issue"  %></p>
        </div>
      <% else %>
        <div class="pins-flex-l">
          <p class="pin-status"><a href="/">PINNED TO HOME PAGE</a></p>
        </div>
        <div class="pins-flex-r">
          <p class="pin-status pin-status-btn"><%= link_to 'Remove from pins', favorite_issue_path(@issue), method: :delete, :class => "pin pin-issue"  %></p>
        </div>
      <% end %>
  </div>
<% end %>
