<% if @current_user.present? %>

  <% unless @current_user.favorite_issues.exists?(id: @issue.id) %>

    <p class="pin-status"><%= flash.alert if flash.alert.present? %>&nbsp;</p>
    <%= link_to 'Add to pins', favorite_issues_path(issue_id: @issue), method: :post, :class => "pin pin-issue" %>

  <% else %>

    <p class="pin-status"><a href="/">PINNED TO HOME PAGE</a></p>
    <%= link_to 'Remove from pins', favorite_issue_path(@issue), method: :delete, :class => "pin pin-issue"  %>

  <% end %>

<% end %>
