
<div class="show-container">
  <h2 class="issue-slash">New Issue</h2>
</div>

<div class="lower-container">
  <div class="inner-bound admin-new">
    <%= render :partial => 'form' %>
  </div>
</div>
