<h2>All Users</h2>

<table>
  <tr class="table-header">
    <td>Name</td>
    <td>Admin</td>
    <td>Email</td>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td class="name"><%= u.name %></td>
      <td class="admin"><%= u.admin? %></td>
      <td class="email"><%= u.email %></td>
    </tr>
  <% end %>
</table>

<%# TODO redo w grid? %>
