<h1>TRIAGE</h1>

<% if session[:user_id].present? %>
  <p>Welcome <%= @current_user.name %></p>


  <h2>PINS</h2>

  <% @current_user.favorite_issues.each do |fi| %>
    <p>[issue] <%= link_to fi.summary, issue_path(fi) %></p>
  <% end %>
  <% @current_user.favorite_fixes.each do |ff| %>
    <p>[fix] <%= link_to ff.title, fix_path(ff) %></p>
  <% end %>
  <% @current_user.favorite_technologies.each do |ft| %>
    <p>[tech] <%= link_to ft.name, technology_path(ft) %></p>
  <% end %>

<% end %>
