* {
  /*border: 1px solid pink;*/
}

body {
  font-family: Avenir, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

/******************** NAV **************************/

nav {
  padding: 1em;
}

nav > a {
  padding: 1em;
  font-size: 12px;
}

/******************** FORMS ************************/

fieldset {
  border: none;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 115px;
}

input, textarea {
  border: 1px #ddd solid;
}

.sentence {
  width: 500px;
}

.long-text {
  height: 500px;
}

input[type="submit"] {
  background-color: white;
  padding: 10px;
}

 /****************  SIGN UP ********************************/

.sign-up input {
  display: block;
  margin: 1em 0 1em 0;
  box-sizing: border-box; /* TODO prefixes */
  width: 250px;
  height: 40px;
}

.field_with_errors > input {
  border: 3px solid red;
}

 /**************   LOGIN   *********************************/

.login label {
  vertical-align: middle;
  width: 85px;
}


  /***************************************************/
