* {
  /*border: 1px solid pink;*/
}

body {
  font-family: Avenir, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

/******************** NAV **************************/

nav {
  padding: 1em;
}

nav > a {
  padding: 1em;
  font-size: 12px;
}

nav > .current-user {
  font-size: 12px;
}

/******************** FORMS ************************/

fieldset {
  border: none;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}

input, textarea {
  border: 1px #ddd solid;
}

.sentence {
  width: 500px;
}

.long-text {
  height: 500px;
}

input[type="submit"] {
  background-color: white;
  padding: 10px;
}

 /****************  SIGN UP & EDIT PROFILE ********************************/

.user-info input {
  display: block;
  margin: 1em 0 1em 0;
  box-sizing: border-box; /* TODO prefixes */
  width: 400px;
  height: 40px;
}

.user-info label {
  width: 400px;
}

.field_with_errors > input {
  border: 3px solid red;
}
/****************** TABLES e.g. all users *********************************/

.table-header {
  text-transform: uppercase;
  font-weight: bold;
}

td.name {
  width: 200px;
}

td.admin {
  width: 100px;
}

/***************************************************/
