@import url('https://fonts.googleapis.com/css?family=Cousine|Josefin+Sans:400,600,700|Nunito');

* {
  /*border: 1px solid pink;*/
}

body {
  font-family: 'Avenir', sans-serif;
  background-color: #111; // fallback, and for overflow
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: rgba(251, 251, 245, 1.0); /*offwhite*/
  font-size: 80px;
  padding: 0 20px;
  display: block;
  position: relative;
  letter-spacing: 9px;
}

h1.user-form-heading {
  font-size: 18px;
  text-align: right;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid rgba(251, 251, 245, 0.9); /*offwhite*/
  margin-top: -0.8rem; // n.b. in responsive section, diff value for chrome
}

h1.user-form-heading::after {
  margin-top: -1.2rem;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    margin: 0.83em 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.show-container > * {
  color: rgba(251, 251, 245, 0.9); /*offwhite*/
}

.show-container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
  margin: 0 auto;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.5px;
}

/******************** NAV **************************/

nav {
  padding: 1em;
  /* text-align: right; */  /* removed for flexbox */
}

nav a {
  padding: 1em;
  font-size: 14px;
  color: rgba(251, 251, 245, 0.9); /*offwhite*/
  text-decoration: none;
}

nav a:hover {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

nav .current-user {
  font-size: 14px;
  color: rgba(209, 219, 47, 1.00); /*green*/
  padding: 1em;
}

nav .green-nav {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

nav .login {
  color: rgba(181, 43, 53, 1.00); /*red*/
}

/******************** FORMS ************************/

fieldset {
  border: none;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}

input, textarea {
  border: 1px #ddd solid;
  font-family: 'Avenir', sans-serif;
  padding: 15px;
}

.sentence {
  width: 500px;
}

.long-text {
  height: 500px;
}

input[type="submit"] {
  background-color: white;
  padding: 15px;
  padding-top: 13px;
}

.checkboxes {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.checkboxes > li {
  list-style-type: none;
}

.form-inner-bound {
  background-color: rgba(15, 15, 15, 0.8);
  color: white;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 5px;
}

form {
  padding: 50px;
}

form.new-user {
  padding-top: 15px;
}


 /****************  SIGN UP & EDIT PROFILE ********************************/

.user-info input {
  display: block;
  margin: 1em 0 1em 0;
  box-sizing: border-box;
  width: 400px;
  height: 54px;
}

.new-user-info input {
  display: block;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  width: 400px;
  height: 54px;
  font-size: 14px;
}

.new-user-info input:focus {
    border: 6px solid rgba(248, 146, 45, 1.00);
}

.user-info input:focus {
    border: 6px solid rgba(248, 146, 45, 1.00); /*red*/
}

.new_user {
  padding: 5px;
  padding-left: 60px;
}

.user-info label {
  width: 400px;
}

.user-form-heading {
  padding-left: 50px;
  padding-top: 25px;
}

.field_with_errors > input {
  border: 6px solid rgba(248, 146, 45, 1.00);
}

.field_with_errors > #technology_name {
  border: 6px solid rgba(79, 123, 185, 1.00);
}

#new_technology .field_with_errors {
    display: inline-block;
}

.edit_technology .field_with_errors {
  display: inline-block;
}

.user-info .field_with_errors > input {
  border: 6px solid rgba(248, 146, 45, 1.00);
}

.notice {
  // padding-bottom: 25px;
  padding-top: 0;
}

.user-form-heading.notice {
  color: rgba(248, 146, 45, 1.00);
}

/******************** SEARCH ******************/

.whitespace {
  white-space: pre;
}

.monospace {
  font-family: Cousine, monospace;
}

input.search {
  padding: 15px;
}

.slash {
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(181, 43, 53, 1.00); /*red*/
    vertical-align: bottom;
    line-height: 49px;
    padding: 0px 14px;
}

.issue-shade {
    color: rgba(248, 146, 45, 1.00); /*orange*/
}

.fix-shade {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

.tech-shade {
  color: rgba(79, 123, 185, 1.00); /*bluegrey*/
}



/****************** TABLES e.g. all users ***************************/

.table-header {
  text-transform: uppercase;
  font-weight: bold;
}

td.name {
  width: 200px;
  padding: 5px 0;
}

td.admin {
  width: 100px;
}

/*******************************/

.container {
  background-color: black; /*fallback*/
  background-image: url(https://res.cloudinary.com/mrmy/image/upload/v1511939929/bg_server_detail_ze0sbq.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 105vh;
}

/*other urls
https://res.cloudinary.com/mrmy/image/upload/v1512045829/bg_server_blur_more_x5dwsk.jpg
https://res.cloudinary.com/mrmy/image/upload/v1512045827/bg_server_blur_qmhhpa.jpg*/

.center {
  max-width: 960px;
  margin: 0 auto;
}

/***************************************************/

.large-search {
  max-width: 960px;
  margin: 0 auto;
}

#term {
  width: 69%;
  box-sizing: border-box;
}

#mag-glass-main {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  vertical-align: middle;
  transform: translateY(-3px); // to align better with X
}

.mag { /* for alt local image */
  width: 40px;
  transform: rotate(-10deg);
}

.fa-search {
  color: rgba(251, 251, 245, 1);
  font-size: 40px !important;
}

.mag-container {
  transform: translatey(-2px) rotate(-10deg);
}

.mag-glass-multi-shell:hover * {
    color: rgba(181, 43, 53, 1.00);
}

.mag-glass-multi-shell:focus * {
    color: rgba(181, 43, 53, 1.00);
}

.btn-issue-shade:hover * {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

.btn-fix-shade:hover * {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

.btn-tech-shade:hover * {
  color: rgba(79, 123, 185, 1.00); /*bluegrey*/
}

.btn-issue-shade:focus * {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

.btn-fix-shade:focus * {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

.btn-tech-shade:focus * {
  color: rgba(79, 123, 185, 1.00); /*bluegrey*/
}

// .btn-issue-shade i:hover {
//   color: rgba(248, 146, 45, 1.00); /*orange*/
// }
//
// .btn-fix-shade i:hover {
//   color: rgba(209, 219, 47, 1.00); /*green*/
// }
//
// .btn-tech-shade i:hover {
//   color: rgba(79, 123, 185, 1.00); /*bluegrey*/
// }

a.clear-search {
  color: rgba(251, 251, 245, 1);
  text-decoration: none;
  padding: 0 10px;
  font-size: 50px;
  vertical-align: bottom;
  line-height: 49px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  outline: 0;
}

a.clear-search:hover, a.clear-search:focus {
  color: rgba(181, 43, 53, 1.00); /*red*/
}

a.x-issue-shade:hover, a.x-issue-shade:focus {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

a.x-fix-shade:hover, a.x-fix-shade:focus {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

a.x-tech-shade:hover, a.x-tech-shade:focus {
  color: rgba(79, 123, 185, 1.00); /*bluegrey*/
}

.god-results {
  // max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 80px;
  box-sizing: border-box;
}

.god-results li {
  padding: 10px;
  color: white;
  list-style-type: none;
}

.god-results a {
  color: white;
  text-decoration: none;
}

.green-hover:hover {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

.orange-hover:hover {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

.blue-hover:hover {
  color: rgba(79, 123, 185, 1.00); /*bluegrey*/
}

/********* LOWER HALF ***************************/

.lower-container {
  background-color: white;
  min-height: 300px;
}

.no-user {
  background-color: rgba(0, 0, 0, 0)
}

.inner-bound {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 10px;
}

.user-list {
  padding: 20px;
}

.admin-new {
  max-width: 1200px;
}

.admin-new-fix a {
  color: rgba(248, 146, 45, 0.8); /*orange*/
  text-decoration: none;
}

.admin-new-fix a:hover {
  color: rgba(248, 146, 45, 1); /*orange*/
}

.admin-new-issue a {
  color: rgba(248, 146, 45, 0.8); /*orange*/
  text-decoration: none;
}

.admin-new-issue a:hover {
  color: rgba(248, 146, 45, 1); /*orange*/
}

.admin-new .sentence {
  width: 800px;
}

.all-list li {
  padding: 5px;
  padding-bottom: 30px;
  list-style-type: none;
}

.all-list li::before {
  content: "\2022";  /* unicode of character to precede list item */
  font-size: 2em;
  padding-right: 1.1225em;
  position: relative;
  top: 5px;
}

.issue-list {
  color: rgba(246, 145, 58, 1.00);  /* color of bullet */
}

.fix-list {
  color: rgba(209, 219, 47, 1.00); /*green*/
}

.tech-list {
  color: rgba(79, 123, 185, 1.00); /*bluegrey*/
}

.all-list li a {
  text-decoration: none;
  color: rgba(15, 15, 15, 1.00);
}

.md {
  border-top: 10px solid rgba(209, 219, 47, 1.00); /*green*/
  padding: 15px;
  min-height: 200px;
  color: rgba(15, 15, 15, 1.0);
}

.md > h1 {
  color: rgba(15, 15, 15, 1.0);
}

.md > h1::after {
  border-bottom: 1px solid rgba(15, 15, 15, 1.0);
}

.md a {
  color: rgba(79, 123, 185, 0.5); /*bluegrey*/
  text-decoration: none;
}

.md a:hover {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

.md-tech a {
  color: rgba(79, 123, 185, 0.5); /*bluegrey*/
  text-decoration: none;
}

.md-tech a:hover {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

.md-issue a {
  color: rgba(248, 146, 45, 0.75); /*orange*/
  text-decoration: none;
}

.md-issue a:hover {
  color: rgba(248, 146, 45, 1.00); /*orange*/
}

.md-tech {
  padding-bottom: 50px;
}

.updated-time {
  color: rgba(251, 251, 245, 0.9); /*offwhite*/
  font-size: 11px;
  padding-bottom: 15px;
}

.pin-controls {
  background-color: rgba(79, 123, 185, 0.5); /*bluegrey*/
  background-image: url(https://res.cloudinary.com/mrmy/image/upload/v1511939929/bg_server_detail_ze0sbq.jpg);
  background-size: cover;
  background-blend-mode: screen;
}

p.pin-status {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin-left: 40px;
}

p.pin-status > a {
  color: rgba(251, 251, 245, 0.9); /*offwhite*/
  text-decoration: none;
}

p.pin-status-btn {
  font-weight: normal;
  text-transform: uppercase;
}

.pin-controls > a {
  color: rgba(251, 251, 245, 0.9); /*offwhite*/
  float: right;
  margin-right: 40px;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
}

.pins-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pins-flex-l {
  flex: 1;
}

.pins-flex-r {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

a.pin-issue {
  color: rgba(248, 146, 45, 0.8) !important; /*orange*/
}

a.pin-issue:hover {
  color: rgba(248, 146, 45, 1.00) !important; /*orange*/
}

a.pin-fix {
  color: rgba(209, 219, 47, 0.8) !important; /*green*/
}

a.pin-fix:hover {
  color: rgba(209, 219, 47, 1.00) !important; /*green*/
}

a.pin-tech {
  color: rgba(250, 250, 241, 0.8) !important;
}

a.pin-tech:hover {
  color: rgba(200, 220, 255, 0.6) !important;
}

.rounded {
  border-radius: 5px;
}

/****************** Focus *****************/
input:focus, textarea:focus {
    outline: none;
}

.admin-new input:focus, .admin-new textarea:focus {
    border: 1px solid rgba(248, 146, 45, 0.5);
    box-shadow: 0 0 10px rgba(248, 146, 45, 0.5); /*orange*/
}

.admin-new-fix input:focus, .admin-new-fix textarea:focus {
    border: 1px solid rgba(209, 219, 47, 0.5);
    box-shadow: 0 0 10px rgba(209, 219, 47, 0.5); /*green*/
}

.admin-new-tech input:focus, .admin-new-tech textarea:focus {
    border: 1px solid rgba(79, 123, 185, 0.5);
    box-shadow: 0 0 10px rgba(79, 123, 185, 0.5); /*green*/
}

select {
    border: 1px #ddd solid;
    font-family: 'Avenir', sans-serif;
}

button:focus {
    outline: none;
    color: rgba(181, 43, 53, 1.00); /*red*/
}

/******** PINS GRID *****************/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 30px 0;
}

.grid-box {
  height: 60px;
  padding: 30px 0px 30px 20px;
  color: rgba(15, 15, 15, 1.00);
}

.grid-heading {
  padding-left: 20px;
}

.grid-container > a {
  text-decoration: none;
}


/************** LOWER CONTROLS ***************/

.controls {
  padding: 20px 0;
}

.controls a {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 50px;
  text-decoration: none;
}

.controls a:hover {
  color: rgba(248, 146, 45, 0.5); /*orange*/
}

.controls-issue a {
  color: rgba(248, 146, 45, 0.75); /*orange*/
}

.controls-issue a:hover {
  color: rgba(248, 146, 45, 1); /*orange*/
}

.controls-fix a {
  color: rgba(189, 199, 27, 0.75); /*green*/
}

.controls-fix a:hover {
  color: rgba(209, 219, 47, 1); /*green*/
}

.controls-tech a {
  color: rgba(79, 123, 185, 0.4); /*bluegrey*/
}

.controls-tech a:hover {
  color: rgba(79, 123, 185, 1); /*bluegrey*/
}

.admin-controls a {
  color: rgba(79, 123, 185, 0.6); /*bluegrey*/
}

.admin-controls a:hover {
  color: rgba(79, 123, 185, 1); /*bluegrey*/
}

.search-buttons {
  display: inline-block;
  line-height: 50px;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
  /* display: inline-block; */
}

.flex-first-nav {
  flex: 5;
}




/*********** BLUR **********/

div.blur {
  background-image: url(https://res.cloudinary.com/mrmy/image/upload/v1512045827/bg_server_blur_qmhhpa.jpg);
}

h1.blur {
  filter: blur(10px);
  margin-bottom: -90px;
}

/*server image urls for quick ref
https://res.cloudinary.com/mrmy/image/upload/v1512045829/bg_server_blur_more_x5dwsk.jpg
https://res.cloudinary.com/mrmy/image/upload/v1512045827/bg_server_blur_qmhhpa.jpg*/
