@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,600,700,800|Josefin+Sans:400,600,700');

* {
  border: 1px solid pink;
}

body {
  font-family: Avenir, sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: rgba(251, 251, 245, 1.0);
  font-size: 80px;
  padding: 0 10px;
  display: block;
  position: relative;
}

.slash {
    font-size: 58px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(181, 43, 53, 1.00);
    vertical-align: bottom;
    line-height: 37px;
    padding: 0px 14px;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: -20px;
}

/******************** NAV **************************/

nav {
  padding: 1em;
}

nav > a {
  padding: 1em;
  font-size: 12px;
}

nav > .current-user {
  font-size: 12px;
}

/******************** FORMS ************************/

fieldset {
  border: none;
}

label {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}

input, textarea {
  border: 1px #ddd solid;
}

.sentence {
  width: 500px;
}

.long-text {
  height: 500px;
}

input[type="submit"] {
  background-color: white;
  padding: 10px;
}

.checkboxes {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.checkboxes > li {
  list-style-type: none;
}



 /****************  SIGN UP & EDIT PROFILE ********************************/

.user-info input {
  display: block;
  margin: 1em 0 1em 0;
  box-sizing: border-box; /* TODO prefixes */
  width: 400px;
  height: 40px;
}

.user-info label {
  width: 400px;
}

.field_with_errors > input {
  border: 3px solid red;
}

/******************** SEARCH ******************/

input.search {
  padding: 10px;
}

/****************** TABLES e.g. all users ***************************/

.table-header {
  text-transform: uppercase;
  font-weight: bold;
}

td.name {
  width: 200px;
}

td.admin {
  width: 100px;
}

/*******************************/

.container {
  background-image: url(/assets/bg_server.jpg);
  background-size: cover;
}

/***************************************************/

.large-search {
  max-width: 960px;
  margin: 0 auto;
}

#term {
  width: 700px;
}

/*.large-search input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}*/

#mag-glass-main {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  vertical-align: middle;
}

.mag {
  width: 40px;
  transform: rotate(-10deg);
}
