
/*********** RESPONSIVE ***************/



#hamburger {
  text-align: right;
  display: none;
  font-size: 2rem;
  padding: 0 10px;
  // margin-top: -12px;
}

#hamburger:hover {
  color: rgba(189, 199, 27, 0.75); /*green*/
}


@media only screen and (max-width: 1300px) {
  ///////////////////// hamburger menu ////////////////////////
  .nav-item {
    display: none;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  #hamburger {
    display: block;
  }
}



@media only screen and (max-width: 668px) {
  h1 {
    font-size: 3.1rem;
  }
  h1.main-heading::after {
    margin-top: -0.8rem;
  }
  #term {
    width: 100%;
  }
  .search-buttons {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }
  .god-results {
    padding-left: 40px;
  }
  .whitespace {
    white-space: normal;
  }
  .new-user-info, .user-info input {
    width: 100%;
  }
  .new_user {
    padding-left: 5px;
  }
  .user-info label {
    width: 100%;
  }
  .inner-bound {
    padding: 2em 20px;
  }
  .root-nav {
    padding-left: 0;
  }
}
