<% if @current_user.present? %>
  <% unless @current_user.favorite_technologies.exists?(id: @technology.id) %>
    <p>&nbsp;</p>
    <%= link_to 'Add to pins', favorite_technologies_path(technology_id: @technology), method: :post %>
  <% else %>
    <p>PINNED</p>
    <%= link_to 'Remove from pins', favorite_technology_path(@technology), method: :delete %>
  <% end %>
<% end %>
