<% if @current_user.present? %>
  <% unless @current_user.favorite_technologies.exists?(id: @technology.id) %>
    <p class="pin-status">&nbsp;</p>
    <%= link_to 'Add to pins', favorite_technologies_path(technology_id: @technology), method: :post, :class => "pin pin-tech"  %>
  <% else %>
    <p class="pin-status">PINNED TO HOME PAGE</p>
    <%= link_to 'Remove from pins', favorite_technology_path(@technology), method: :delete, :class => "pin pin-tech"  %>
  <% end %>
<% end %>
