<!-- SEARCH -->
<%= render partial: "shared/single_search" %>
<!------>

<% if params[:term] %>
  <ul class=god-results>
    <% @technologies.each do |t| %>
      <li>
        <%= link_to t.name, technology_path(t.id), class: "green-hover monospace" %>
      </li>
    <% end %>
    <% if flash[:notice] && !@technologies.any? %>
      <li><%= flash[:notice] %></li>
    <% end %>
  </ul>
<% end %>

<div class="lower-container">
  <div class="inner-bound">
    <h2>All Technologies A-Z</h2>

    <ul class="all-list tech-list">
      <% @technologies_all.each do |t| %>
        <li>
          <%= link_to t.name, technology_path(t.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
