<h2>All Technologies</h2>

<!-- SEARCH -->
<%= render partial: "shared/single_search" %>
<!------>

<ul>
  <% @technologies.each do |t| %>
    <li>
      <%= link_to t.name, technology_path(t.id) %>
    </li>
  <% end %>
</ul>
